<!--adding hearder to the page-->
<header class="header">
    <h1> To Do List for 2021</h1>
    <form class="todo-form" (ngSubmit)="addTodo()">
    <input class="add-todo" [(ngModel)]="newTodo" name="first" appAfterViewFocus placeholder="Add items to be done" required="required" autocomplete="off">
    </form>
</header>
<!--code for adding to do items-->
<main class="main" *ngIf="todos.length">
    <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.done" (dblclick)="editingTodo(todo)">
            <div class="view" *ngIf="!todo.edit">
                <input class="checkmark" type="checkbox" [checked]="todo.done" (click)="toggleDoneTodo(todo)">
                <label>{{ todo.value }}</label>
                <button class="destroy" (click)="destroyTodo(todo)"></button>
            </div>
            <input class="edit" *ngIf="todo.edit" appAfterViewFocus [value]="todo.value" #edit (blur)="cancelEditingTodo(todo)" placeholder="What do you need to write?" (keyup.enter)="editedTodo(todo, edit)">
        </li>
    </ul>
</main>
<!--adding clear all selected items in list-->
<footer class="footer" *ngIf="todos.length">
    <span class="todo-count">
    <strong>{{ todoCount }}</strong>
    <span> items </span>
    </span>
    <button class="clear-completed" (click)="destroyAllTodo()" [class.clear-operate]="clearCount">
      <span>Clear All selected </span>
    </button>
</footer>
